@media screen and (min-width: 768px) and (max-width: 1024px) {
.work-info .row article:last-child{
    margin-top: 25px;
}

.team-info .row div:first-child{
    margin-bottom: 25px;
}

}

footer .row div:last-child{
    margin-top: 35px;
}

footer .row div:nth-child(3){
    margin-top: 35px;
}