body{
    background-image: url(images/image\ 5.svg),
     linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255, 0.8));
     background-blend-mode: overlay;
     background-repeat: 20;
     background-size: 20% 20%;

}

#page-container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

header {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}
header nav {
    width: 100%;
    padding: 0 40px;
}
header ul li {
    list-style: none;
    width: 20%;
}

header ul {
    padding: 20px 0;
    justify-content:center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 19px;

}

main {
margin: 30px;
}

.flex-container {
    background-color: black;
    padding: 30px;
    color: white;
}

.korteles {
    display: flex;
    flex-direction: column;
}

.pirmine {
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 440px;
    border: 2 solid white;

}



* {
    margin: 0;
    padding: 0;
}
