h1 {
    background-color: #92d692;
}

.firstBlock {
    background-color: #d1d188;
}

#raudonlist {
    color: #ff0000;
    background-color: #000000;
}

.scndBlock {
background-color: #494990;
color: #ffffff;
}